api.statient.com {
    reverse_proxy api:8080
}

search.statient.com {
    reverse_proxy search:5002
}

tuner.statient.com {
    reverse_proxy tuner:8000
}

observatory.statient.com {
    reverse_proxy observatory:3000
}
